.column-happy {
  background-color: #70BDB1;
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}
.column-meh {
  background-color: #F5C94C;
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}
.column-sad {
  background-color: #D25948;
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}
header, footer {
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}
section {
  text-align: center;
  margin-bottom: var(--pico-block-spacing-vertical);
}
article {
  text-align: initial;
}
div.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.grid > div {
  min-height: 200px;
}
.add-card-input {
  background-color: initial;
}
.add-card-input:focus {
  background: white;
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.card.completed {
  background-color:rgba(238, 238, 238, 0.35);
  text-decoration: line-through;
  cursor: not-allowed;
}
