{% extends "base.html" %}
{% import "shared/macros.html" as macros %}

{% block title %}{{ retro.title }} - Archive {{ archive.created_at.format("%Y-%m-%d %H:%M") }}{% endblock %}

{% block header %}
<header class="retro-header">
  <h1>{{ retro.title }}</h1>
  <p>Archived {{ archive.created_at.format("%Y-%m-%d %H:%M") }}</p>
  <div class="retro-header-actions">
    <a href="/retro/{{ retro.slug }}/archives">Archives</a>
    {{ macros::account_menu(retro.id, false) }}
  </div>
</header>
{% endblock %}

{% block content %}
<div class="board">
  <div class="column-happy">
    <img class="column-icon" src="/static/happy.svg" alt="">
    <h2>Good</h2>
    <section id="good-items" class="item-list">
      {% for item in good_items %}
        {{ macros::archived_card(item) }}
      {% endfor %}
    </section>
  </div>
  <div class="column-meh">
    <img class="column-icon" src="/static/meh.svg" alt="">
    <h2>Watch</h2>
    <section id="watch-items" class="item-list">
      {% for item in watch_items %}
        {{ macros::archived_card(item) }}
      {% endfor %}
    </section>
  </div>
  <div class="column-sad">
    <img class="column-icon" src="/static/sad.svg" alt="">
    <h2>Bad</h2>
    <section id="bad-items" class="item-list">
      {% for item in bad_items %}
        {{ macros::archived_card(item) }}
      {% endfor %}
    </section>
  </div>
</div>
{% endblock %}
