{% extends "base.html" %}

{% block header %}
<header class="page-header">
  <hgroup>
    <h1>Rostfacto</h1>
    <p>Where Teams Reflect and Grow</p>
  </hgroup>
  <nav>
    <ul>
      <li><a href="/retros">All Retros</a></li>
      <li><a href="/retros/new">New Retro</a></li>
    </ul>
    <ul>
      <li><a href="https://github.com/suhlig/rostfacto">Source Code</a></li>
    </ul>
  </nav>
</header>
{% endblock %}

{% block content %}
<div class="container">
  <p>Rostfacto is an app for running a retrospective remotely. It was created because the great <a href="https://github.com/vmware-archive/postfacto">Postfacto</a> is no longer maintained. </p>

  <p style="text-align: center;">
    <img src="https://raw.githubusercontent.com/vmware-archive/postfacto/refs/heads/master/media/sample-retro.gif"/>
  </p>

  <p>Like all good tools, this is a <a href="https://github.com/TaKO8Ki/awesome-alternatives-in-rust">rewrite in Rust</a>.</p>
</div>
{% endblock %}
